body {
    background-color: #fff3e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fd9d24;
    color: white;
    padding: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.header-text {
    margin-bottom: 30px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

p {
    font-size: 30px;
}

img {
    width: 33%;
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}

article {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 0 80px rgba(red, green, blue, alpha);
}

ul {
    margin-top: 10px;
    padding-left: 20px;
}

li {
    font-size: 20px;
}

h2 {
    color: #fd9d24;
    font-size: 30px;
}

footer {
    background-color: #fd9d24;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

/* Para celulares */
@media (max-width: 768px) {
    img {
        width: 60%;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }
}
